/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Root variables for easy customization */
:root {
    --bg-color: white;
    --ft-color: rgb(7, 52, 135);
    font-size: 1rem;
}

/* Global styles for margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Basic styles for the body */
body {
    height: 100vh;
    text-align: center;
    background: radial-gradient(circle, #66abff, #376af7);
    padding-bottom: 60px;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

/* Header section styles */
#headerSection {
    margin: 40px auto;
}

/* Heading 1 styles */
h1 {
    display: inline;
    text-align: justify;
    color: var(--ft-color);
    font-family: 'Oswald', sans-serif;
    margin: 40px auto 20px auto;
    font-size: 3rem;
}

/* Heading 2 styles */
h2 {
    color: var(--bg-color);
    margin: 40px auto;
}

/* Heading 3 styles */
h3 {
    margin: 20px auto;
}

/* About section styles */
#aboutSection {
    margin: 40px auto;
}

#aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#callToAction {
    padding: 10px;
    text-align: center;
    color: var(--ft-color);
    margin-right: 20px;
}

#about {
    padding: 10px;
    color: var(--bg-color);
}

#about > h2 {
    text-align: center;
}

#about > p {
    text-align: justify;
}

/* Table section styles */
#tableSection {
    margin: 40px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: var(--bg-color);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Result container styles */
#resultContainer {
    display: flex;
    flex-direction: column;
    color: var(--bg-color);
    text-align: left;
    margin-left: 10px;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Results styles */
#results {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* New button container */
#newBtnDiv {
    position: absolute;
    align-self: flex-end;
    margin-top: 92px;
    margin-right: 10px;
}

/* New game button styles */
#newGame {
    display: inline-block;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    background-color: rgb(22, 129, 217);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

#newGame:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Hover effect for the button */
    transform: translateY(-2px);
}

/* Game message styles */
.game-message {
    position: static;
    margin-top: 46px;
    align-self: center;
    text-align: center;
    margin-right: 10px;
    font-size: 2rem;
    font-weight: bold;
}

/* Game section styles */
#gameSection {
    min-height: calc(100vh - 60px);
    margin: 40px auto;
    padding-bottom: 60px;
}

#gameButtonContainer {
    margin: 40px auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping of buttons */
    gap: 8px;
}

/* Button image styles */
.buttonImages {
    border: none;
    outline: none;
    background: transparent;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #333;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerNav {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footerNavList {
    display: flex;
}

.footerNavList a {
    color: var(--bg-color);
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.footerNavLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#listFooterText {
    list-style-type: none;
    padding-left: 10px;
}

#footerText {
    padding-right: 10px;
    text-align: justify;
    align-self: flex-end;
}

.social-link {
    display: inline;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s; /* Transition for color change */
}

#linkedinIcon {
    align-self: center;
}

#snipverse {
    margin-left: 10px;
}

.social-link:hover {
    color: #66abff; /* Hover effect for social links */
}

/* Media queries for responsive design */
@media only screen and (min-width: 500px) {
    #aboutContainer {
        flex-direction: row; /* Row layout for wider screens */
    }
}

@media only screen and (min-width: 900px) {
    .game-message {
        position: absolute;
        align-self: center;
        justify-self: center;
    }
}
